<Files ".gitignore">
  Require all denied
</Files>
<Files ".gitmodules">
  Require all denied
</Files>
<Files "composer.json">
  Require all denied
</Files>
<Files "LICENSE">
  Require all denied
</Files>
<Files "README.md">
  Require all denied
</Files>
