/* Attogram Framework - Games Site Module - games.css v0.0.4 */
body {
  background-color:#000000;
}
.hlite:hover {
  color:#928849;
  text-decoration:none;
}
.ihlite:hover {
  padding:10px;
  border:1px solid #928849;
  background-color:#222222;
}
h1 {
  padding:10px;
  margin:0;
  color:#928849;
  background-color:#222222;
  text-align:center;
}
.footer {
  color:#827839;
  background-color:#222222;
}
.hprow {
  padding:0;
  margin:0;
}
.hpcol {
  padding:32px 0 0 0;
  margin:0;
  background-color:black;
  text-align:center;
}
