body { background-color: lightslategray; font-family: sans-serif; margin: 20px; }
a, a:visited { text-decoration: none; color: darkblue; }
a:hover { background-color: greenyellow; color: black; }
footer { font-size: small; margin-top: 40px; }
img { border: 1px solid darkgrey; }
h1 { color: whitesmoke; font-size: 130%; margin-bottom: 10px; }
.list { display: flex; flex-wrap: wrap; }
.game { background-color: white; border: 1px solid black; margin: 5px; padding: 10px 5px 0 5px; text-align: center; width: 118px;}
.game:hover{ background-color: greenyellow; }
.platform { background-color: transparent; color: grey; font-size: small; padding: 2px; text-align: right; }
